body{
    background-color: black;
}

h1{
    color: white;
}

h3{
    color: white;
}

i {
    color: white;
}

img{
    border-radius: 50%; 
}

.lower_header{
    display:flex;
    flex-wrap:wrap-reverse; 
flex-direction: row;
align-content: space-evenly; 

}